<html>
    <head>
            <title>lime 2.0</title>
            </head>
   <body style="background-color: f0f0f0" >
      <DIV ALIGN="center">
        <h1>you are now connected</h1>
        <form action = "http://localhost:5000/consultScooters" method = "POST">
            <p><input type = "submit" value = "consulter les trottinettes disponibles et leur localisation" /></p>
            </form>
        <form action = "http://localhost:5000/infoScooters" method = "POST">
            <p><input type = "submit" value = "consulter les informations associees a chaque trottinette: etat de la batterie, plaintes actuelles." /></p>
            </form>
        <form action = "http://localhost:5000/introPlainte" method = "POST">
            <p><input type = "submit" value = "introduire une plainte au sujet d'une trottinette" /></p>
            </form>
        <form action = "http://localhost:5000/consultTrips" method = "POST">
            <p><input type = "submit" value = "consulter l'historique des deplacement effectues" /></p>
        </form>
        <div id="chargeUpForm" style='display:none' >
            <form action = "http://localhost:5000/manageCharge" method = "POST">
                <p><input type = "submit" value = "prendre une trottinette pour la recharger et la rapporter ensuite." /></p>
            </form>
        <script>
            function myFunc(hasCharger) {
                return hasCharger
            }
            </script>

        <script>
            var myVar = myFunc({{hasCharger|tojson}})
            if (myVar == "True") {
                document.getElementById("chargeUpForm").style.display = "block";
            }
            </script>

        </div>
   </body>
</html>