<html>
    <head>
            <title>lime 2.0</title>
            </head>
   <body style="background-color: f0f0f0" >
        <DIV ALIGN="center"> 
            <h1>Introduire une plainte au sujet d'une trottinette.</h1>
            <p>Introduire numero de la trottinette deffectueuse :</p>
            <form action = "http://localhost:5000/infoPlainte" method = "POST">
                <input type="text" name="numTrottinette">
                <p><input type = "submit" value = "Submit" /></p>
            </form>

</body>
</html>