<html>
    <head>
            <title>lime 2.0</title>
            </head>
   <body style="background-color: f0f0f0" >
      <DIV ALIGN="center">

        <h2>La liste et lalocalisation des trottinettes actuellement disponibles</h2>
        <table style="width:100%">
                <style>
                table, th, td {
                border: 1px solid black;
                }
                </style>
        <tr>
                <th>scooterID</th>
                <th>PositionX</th>
                <th>PositionY</th>
              </tr>
        {% for user in R1 %}
        <tr>
            {% for elem in user %}
            <td>{{ elem }}</td>
            {% endfor %} 
        </tr>
        {% endfor %}
    </table>

    <h2>La liste desutilisateurs ayant utilisé toutes les trottinettes qu'ils ont rechargées</h2>
    <table style="width:20%">
            <style>
            table, th, td {
            border: 1px solid black;
            }
            </style>
    <tr>
            <th>userID</th>
            </tr>
    {% for user in R2 %}
    <tr>
        {% for elem in user %}
        <td>{{ elem }}</td>
        {% endfor %} 
    </tr>
    {% endfor %}
</table>

<h2>La trotinnette ayant effectué la plus grande distance depuis sa mise en service</h2>
<table style="width:100%">
        <style>
        table, th, td {
        border: 1px solid black;
        }
        </style>
    <tr>
            <th>scooterID</th>
            <th>Total distance traveled</th>
            </tr>
{% for user in R3 %}
<tr>
    {% for elem in user %}
    <td>{{ elem }}</td>
    {% endfor %} 
</tr>
{% endfor %}
</table>

<h2>Les trottinettes ayant déjà fait l'objet d'au moins une dizaine de plaintes</h2>
<table style="width:100%">
        <style>
        table, th, td {
        border: 1px solid black;
        }
        </style>
    <tr>
            <th>scooterID</th>
            <th>Number of complains</th>
            </tr>
{% for user in R4 %}
<tr>
    {% for elem in user %}
    <td>{{ elem }}</td>
    {% endfor %} 
</tr>
{% endfor %}
</table>

<h2>Les utilisateurs ayant déjà réalisé au moins 10 trajets</h2>
<table style="width:100%">
        <style>
        table, th, td {
        border: 1px solid black;
        }
        </style>

<tr>
        <th>useID</th>
        <th>Average Time</th>
        <th>Number of trips</th>
        <th>Total amount spent on journeys in euros</th>
      </tr>
{% for user in R5 %}
<tr>
    {% for elem in user %}
    <td>{{ elem }}</td>
    {% endfor %} 
</tr>
{% endfor %}
</table>

</body>
</html>