<html>
    <head>
            <title>lime 2.0</title>
            </head>
   <body style="background-color: f0f0f0" >
      <DIV ALIGN="center">
            <table style="width:100%">
                    <style>
                    table, th, td {
                        border: 1px solid black;
                      }
                      </style>
                      
                    <tr>
                      <th>numScooter</th>
                      <th>userID</th>
                      <th>sourceX</th>
                      <th>sourceY</th>
                      <th>destinationX</th>
                      <th>destinationX</th>
                      <th>startTime</th>
                      <th>endTime</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        {% for elem in user %}
                        <td>{{ elem }}</td>
                        {% endfor %} 
                    </tr>
                    {% endfor %}
                </table>
</body>
</html>