<html>
    <head>
            <title>lime 2.0</title>
            </head>
   <body style="background-color: f0f0f0" >
      <DIV ALIGN="center">
            <table style="width:100%">
                    <style>
                    table, th, td {
                        border: 1px solid black;
                      }
                      </style>
                    {% for user in users %}
                      <p>{{ user }}</p>
                    {% endfor %}
                </table>
</body>
</html>